<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lecture notes</title>

<link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="custom/custom.css" rel="stylesheet">

<script src="components/angular/angular.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="components/angular-socket-io/socket.js"></script>
<script src="custom/controllers.js"></script>

</head>

<body>

<div class="container main-container" >
	<div class="row content" ng-app="lectureNotes" ng-controller="courseController">
    	<div class="col-md-3 tab borderi course-list" >

    		<table class="table table-striped">
			  <tbody>
			    <tr class="pointer" ng-class="{true: 'selected', false: ''}[activeCourseId == course._id]" ng-repeat="course in courses | orderBy : 'courseId'" ng-click="selectCourse($event, course._id)">
			      <td>{{ course.code | uppercase }}</td>
			      <td>{{ course.name }}</td>
			    </tr>
			  </tbody>
			</table>
    	</div>

		<div class="col-md-3 tab borderi notes-list" >

    		<table class="table table-striped">
			  <tbody>
			    <tr  class="pointer" ng-repeat="note in notes" ng-click="selectNote(note)" ng-class="{true: 'selected', false: ''}[note == activeNote]">
			      <td>{{note.title}}</td>
			    </tr>
			    <tr>
			    	<td><a href="#" ng-click="createNew()">Create new</a></td>
			    </tr>
			  </tbody>
			</table>
    	</div>

  		<div class="col-md-6 tab note" ng-class="{true: '', false: 'nodisplay'}[!!activeNote]">
  			<div ng-show="showRevision==false">
				<a href="" class="settings-icon glyphicons glyphicon-cogs" ng-click="getSnapshots(activeNote._id)"><small>revision history</small></a>
				<input type="text" ng-keyup="saveNote(activeNote)" class="note-title form-control" placeholder="Title..." ng-model="activeNote.title">
				<textarea ng-keyup="saveNote(activeNote)" class="form-control" rows="5" id="note" ng-model="activeNote.note" eb-caret="noteC" placeholder="Note..."></textarea>
				</div>
			<div class="revision" ng-show="showRevision==true">
				<!--<a href="#" ng-repeat="snapshot in snapshots" ng-click="activeSnap(snapshot)">{{ snapshot._id }} </a>-->
				<a href="" class="close-snapshot" ng-click="closeSnapshot()"><small>close</small></a>
				<h2>Revision history</h2>
				<div ng-repeat="snapshot in snapshots">
					<h5>{{ snapshot.title }} <small>{{  snapshot.created_at  }}</small></h5>

					<textarea ng-model="snapshot.note" class="form-control snapshot" readonly="readonly"></textarea>
					<div>
						<a href="#" ng-click="restoreSnapshot(snapshot)">Restore</a>
					</div>
					<hr>
				</div>
			</div>




	</div>
</div>

</body>
</html>