.main-container{
	width: 100%;
	height: 100%;
}

.col-md-3.tab, .col-md-6.tab {
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	height: 100%;
	overflow: auto;
}

.course-list{
	left: 0;
	width:25%;
}

.notes-list
{
	left: 25%;
	width: 25%;
}

.note
{
	left:50%;
	width: 50%;
}



.borderi{
	border-right: 1px solid #eee;
}

.course{
	border-bottom: 1px solid gray;
	padding: 5px 0 5px 5px;
	background-color: #5f5f5f;
	color: #f5f5f5;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}



textarea.form-control
{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	resize: none;
	z-index: 1;
	padding-top: 40px;
}

textarea.form-control.snapshot
{
	position: relative;
	padding-top: 0;
	min-height: 66px;
}


.form-control:focus, .form-control
{
	border:0;
	box-shadow: none;
	border-radius: 0;
}


.note-title{
	width: 100%;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	z-index: 5;
}

.green
{
	background-color: rgba(130, 184, 139, 0.55) !important;
}

.nodisplay{
	visibility: hidden !important;
}

.pointer
{
	cursor: pointer;
}

.selected
{
	background-color: #dff0d8 !important;
	font-weight: bold;
}

.revision
{
	padding-left: 15px;
	padding-right: 15px;
}

.revision > a 
{
	margin-left: 8px;
}

.close-snapshot
{
	float:right;
	margin-top: -10px;
}

.settings-icon
{
	float: right;
	z-index: 6;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	position: relative;
}


